/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Rest*/

/*Start Custom Styles*/
.content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

/* NAV */
.top-navigation{
	background-color: #fff;
	
	-webkit-font-smoothing: antialiased; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;

}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.top-navigation ul{
	display: inline-block;
}

.top-navigation li {
	display: inline-block;
	margin-left: 24px;
}

.top-navigation a {
	color: #808080;
	text-decoration: none;
	background-color: #fff;
	padding-right: 1px;
	padding-left: 1px;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 600;
}

.top-navigation a:hover{
	cursor:grab;
	-webkit-transition: background-color 0.75s ease-out;
    -moz-transition: background-color 0.75s ease-out;
    -o-transition: background-color 0.75s ease-out;
    transition: background-color 0.75s ease-out;
  	background-color: #808080;
	transition: color 0.5s ease-out;
	color: #fff;
}

.logo{
	height: 70px;
}

.links {
	float: right;
	margin-top: 26px;
} 

.introduction{
    background-image: url('../img/first-background.jpg');
 	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;

	-webkit-font-smoothing: antialiased; 
	text-align: center;
	padding-top: 200px;	
}

.introduction h1 {
	font-size: 42px;
	color: #fff;
	letter-spacing: 0.03em;
	padding-bottom: 20px;
}

.introduction h3 {
	font-size: 22px;
	color: #fff;
	letter-spacing: 0.01em;
	padding-bottom: 25px;
}

.introduction-button-wrapper{
	display: block;
	text-align: center;
}

.details{
	text-align: center;
	background-color: #fff;
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 200px;
	overflow: hidden;
}

.details .content{
	margin-top:100px;
	padding: none;
	color: #1d1e21;
	text-align: center;
}

.details h1 {
	font-size: 42px;
	color: #000;
	letter-spacing: 0.03em;
	padding-bottom: 20px;
}

.details ul{
	text-align: center;
	display: inline-block;
}

.details li {
	width: 33.33%
	float: left;
	display: inline-block;
	padding: 40px;
}

.icon{
	height: 70px;
}

.big-button{
	border: none;
	border-radius: 0.25em;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: inline-block;
	font-size: 1em;
	padding: 1em 2em;
	width: auto;
	background-color: #f15a29;
	color: white;
	text-decoration: none;	
}

.big-button:hover{
	background-color: #d9400e;
	cursor: pointer;
}


